.card {
    box-shadow: 6px 10px 10px gray;
}


/* .card:hover {
    background-color: #3e778e70;
    color: white;
    transition: .2s;

} */

.btn1:hover {

    font-weight: bold;
    background-color: rgb(243, 122, 8);
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;


}

.btn1 {
    background-color: rgba(0, 0, 255, 0.658);
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    color: white;
    margin-top: 5px;

}